{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Energy Save{% endblock %}</title>
</head>
<body>
    <nav>
        <a class="" href="#">Energy Save</a>
        <div>
            <ul>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'register' %}">Register</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="body">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>