{% extends "backend/layout.html" %}

{% block body %}

    <h2>Login</h2>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div>
            <input type="text" name="username" placeholder="username">
        </div>
        <div>
            <input type="password" name="password" placeholder="password">
        </div>
        <input type="submit" value="Login">
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>

{% endblock %}